@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
}
p{
      margin: 0;
}

.glass-effect {
    display: inline-flex;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 20px;
}


.navbar-brand{
      font-size: 28px;
      font-weight: bold;
}

.btn{
      margin-top: 20px;
      width: 160px;
      height: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
}
.btn-custom{
      border: 1px solid black;
      background-color: transparent;
       width: 160px;
      height: 50px;
      border-radius: 6px;
}

.information{
      border-radius: 18px;
     
}

.information button{
      width: 170px;
}

.information span{
      font-size: 28px;

}

.information h1{
      font-size: 58px;
      letter-spacing: 4px;
}

.contact-item i{
      color: black !important;
      font-size: 25px;
}

.social-links a{
      border-radius: 50%;
      width: 40px;
      height: 40px;
}

.inf-items i{
      font-size: 30px;
}

.inf-items span{
      font-size: 12px;
}

.description{
 line-height: 30px;
}


@media (max-width: 480px) {
      .information{
            justify-content: center !important;
            align-items: center !important;
            text-align: center !important;
            margin: 0 !important;
      }
      .avatar{
            margin: 15px 0px;
      }
      .box-projects{
            
            justify-content: center !important;
      }

      
}

